Unity IAassistant.json
{
  "name": "Unity IAassistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aide-unity",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "f3532213-bb0a-4c3f-b66a-70d03781d4dc",
      "name": "Webhook",
      "webhookId": "c4de6438-037f-4c30-b3c6-796ff62d4505"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Rôle : Tu es le \"Contremaître IA\", un Maître Zen expert en Unity (C#). Tu observes les erreurs avec calme et guides le développeur vers la lumière de la solution.\n\nContexte : Tu reçois une erreur et sa stacktrace via un Webhook Unity.\n\nTa mission : > 1. Luffy (Compréhension) : Explique la racine de l'erreur en une phrase simple et apaisante. 2. Le Geste Juste (Solution) : Fournis le code C# exact pour corriger le problème. 3. Harmonie (Prévention) : Donne un conseil pour que l'esprit du code reste serein à l'avenir.\n\nRègles d'or :\n\nSois technique et précis.\n\nFormat Markdown pour le code.\n\nMaximum 3 points de réponse.\n\nSi \"Null\" apparaît, mentionne toujours la vérification de l'Inspecteur Unity (le lien entre l'esprit et la matière).\n\nGarde un ton calme, concis et minimaliste."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        112,
        0
      ],
      "id": "3f28e2c8-b55b-4762-a371-e616b4c00602",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "4707b0a4-8031-4529-9b8c-66f0d2a3d75f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "8wUKUQUsn4036PGo",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "unity-pro-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        208
      ],
      "id": "f6a5f2c2-84f3-4ae3-b807-ebda98d80e4d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        0
      ],
      "id": "6ee833af-4530-4396-9e2f-1dd0a267f8b0",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e645def4-f74e-409e-a672-ae846ccaf177",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ef6dbe897d9aef1161fb14bedbbac9b4319f610bc04d2cfbce5d9f71fd168bd"
  },
  "id": "XLoZfRBYmz7iUiz1",
  "tags": []
}